body{
  color: white !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*****************************
  SIGN IN
*****************************/
.form-signin {
  width: 100%;
  padding: 15px;
  margin: auto;
  width: 380px;
  max-width: 430px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#error-message {
  color: red;
}

#sidebarColumn{
  margin: 0;
  padding-right: 0;

}

#switch-block{
  background-color: #800000;
  margin: 0 !important;


}/******************************************
  * SIGN OUT BUTTON
  ******************************************/

.sign-out-button {
  position:absolute;
  bottom:0;
}

/******************************************
 * CAROUSEL
 ******************************************/
 ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}
.carousel {
  position: relative;
  margin-top: 25%;
}
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
}
@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.carousel__slide--active {
  display: block;
}
.carousel-slide__content {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;
}
@media (max-width: 991px) {
  .carousel-slide__content {
    font-size: 18px;
  }
}
.carousel-slide__author, .carousel-slide__source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}
@media (min-width: 992px) {
  .carousel-slide__author, .carousel-slide__source {
    font-size: 16px;
  }
}
.carousel-slide__source {
  font-style: italic;
  color: #888;
}
.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: 0.75;
  transform: translateY(-50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__arrow:focus {
  outline: 0;
}
.carousel__arrow:hover {
  opacity: 0.5;
}
.carousel__arrow--left {
  left: 32px;
}
.carousel__arrow--right {
  right: 32px;
}
.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.carousel__indicators li:nth-of-type(n + 2) {
  margin-left: 9px;
}
.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__indicator:hover {
  opacity: 0.5;
}
.carousel__indicator--active, .carousel__indicator--active:hover {
  opacity: 0.75;
}

/*************************************
 * Delete Button/Icons
 *************************************/
.del-icon {
  display: block;
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
}

.transparent-btn {
  background-color: transparent;
}

.transparent-list-group {
  background-color: transparent;
  border-color: transparent;
  border-top: 0px solid transparent !important;
  border-radius: 0 !important;
  }
