@import url('https://fonts.googleapis.com/css?family=Montserrat');


html,body {
  height:100%;
}

body {
  /* background-image: url("https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg"); */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

a {
  color: white;
}

hr{
  width: 100%;
}
img {
  display: block;
  /* max-width:220px;
  max-height:85px; */
  width: 140px;
  height: 85px;
  /* width: auto;
  height: auto; */
}

.btn-dark {
  color: #fff;
  background-color: #000;
  border-color: #343a40;
}

.container {
  max-width: 100%;
}

.list-group-item-dark {
  color: #f8f9fa;
  background-color: #212529;
}

.list-group-item {
  border: 1px solid #4d555dc4;
}

.sign-in-wrapper{
  margin-right: 30%;
  margin-left: 30%;
  margin-top: auto;
  margin-bottom: 28%;
  background-color: #0e0a0bbf;
}

#sidebar{
  background-color: black;
  min-height: 100vh;
  height: 100%; /* Full-height: remove this if you want "auto" height */
}

#appContainer{
  margin-left: 0;
  padding-left: 0;
}

#category-list-wrapper{
  font-size: 22px;
}

#error-message {
  color: red;
}

#sidebarColumn{
  margin: 0;
  padding-right: 0;
}

#register-component-wrapper{
  /* background-image: url("https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg"); */
  margin-right: 30%;
  margin-left: 30%;
  margin-top: auto;
  margin-bottom: 25%;
  background-color: #0e0a0bbf;
}




#sidebarColumn{
  margin: 0;
  padding-right: 0;

}

#switch-block{
  /* background-image: url("https://images.pexels.com/photos/372462/pexels-photo-372462.jpeg"); */
  background-color: #800000;
}

#display-list-title{
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2px;
  color: #eff353
}

.categories-list-name-class{
  cursor: pointer;
}

body.modal-open{
  background-color: #343a40;
}

.modal-content{
  background-color: #343a40;
}


.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.sign-in-main-row-wrapper{
  background-image: url("https://images.pexels.com/photos/260590/pexels-photo-260590.jpeg");
  /* background-image: url("https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.register-component-main-row{
  background-image: url("https://images.pexels.com/photos/260590/pexels-photo-260590.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.register-button{
  width: 100%;
  background-color: #000;
  border-color: #343a40;
}

.image-container{
  /* display: inline-block;
  max-width:220px;
  max-height:85px; */
}

.modal-user-reviews-list{
  cursor: pointer;
}

.modal-user-reviews-list:hover{
  color:yellow;
}