@import url('https://fonts.googleapis.com/css?family=Montserrat');


html,body {
  height:100%;
}

body {
  /* background-image: url("https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg"); */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

a {
  color: white;
}

hr{
  width: 100%;
}
img {
  display: block;
  max-width:220px;
  max-height:85px;
  width: auto;
  height: auto;
}

.btn-dark {
  color: #fff;
  background-color: #000;
  border-color: #343a40;
}

.container {
  max-width: 100%;
}

.list-group-item-dark {
  color: #f8f9fa;
  background-color: #212529;
}

.list-group-item {
  border: 1px solid #4d555dc4;
}

.sign-in-wrapper{
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  background-color: #212529;
}

#sidebar{
  background-color: black;
  min-height: 100vh;
  height: 100%; /* Full-height: remove this if you want "auto" height */
}

#appContainer{
  margin-left: 0;
  padding-left: 0;
}

#category-list-wrapper{
  font-size: 22px;
}

#error-message {
  color: red;
}

#sidebarColumn{
  margin: 0;
  padding-right: 0;
}

#register-component-wrapper{
  /* background-image: url("https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg"); */
}

#sign-in-component-wrapper-image{
  margin: 0;
  padding: 0;
  /* background-image: url("https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg"); */
}


#sidebarColumn{
  margin: 0;
  padding-right: 0;

}

#switch-block{
  background-color: #800000;
}

body.modal-open{
  background-color: #343a40;
}

.modal-content{
  background-color: #343a40;
}